<?php
$title = 'Neues Mitglied einchecken';
$this->headTitle($title);
?>
<h2><?php echo $this->escapeHtml($title); ?></h2>
<?php
  echo $this->error;
   /* $form = $this->form;
    $form->setAttribute('action', $this->url('visit', array('action' => 'add')));    
    
    echo $this->form()->openTag($form);
    echo $this->form()->collecetion();
    echo $this->form()->closeTag(); */
  
?>  
  <br>
  <a href="<?php echo $this->url('visit') ?>"><img src="<?php echo $this->basePath('img/check_in.png') ?>" alt="zurück zum Check in"/>&nbsp;&nbsp;zurück zum Check in</a>
  