<?php

$title = 'Check out';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
    <h3>Mitglied hat das Training beendeet<?php echo $visit->getVisit_id(); ?> l&ouml;schen?</h3><br/>
 
    <?php
    $form = $this->form;
    $form->setAttribute('action', $this->url(
            'visit', 
            array(
                'action' => 'delete',
                'visit_id' => $this->visit_id,
            ))
            );
    echo $this->form()->openTag($form);
    echo $this->formCollection($form);
    echo $this->form()->closeTag();