    <?php
    $this->title="Checkin am ".date("d.m.Y");
    $this->head=$this->title;
    $this->headtitle($this->title);
    ?>
    <div class="wrapper_content">
        <h4>Im Studio trainieren zur Zeit:</h4>
        <table class="visit">
            <tbody>
            <?php if (isset($visits)) : ?>
                <tr>
                    <th></th>
                    <th>Mitgl.-nr.</th>
                    <th>Name</th>
                    <th>Schl&uuml;sselnr.</th>
                    <th>&nbsp;</th>
                </tr>
                
    <?php foreach($visits as $visit): ?>
                                    
                <tr>
                    <td></td>
                    <td align="center"><?php echo $visit->getMember_id()->getMitgl_nr(); ?></td>
                    <td><?php echo $visit->getMember_id()->getForename() . ' ' .  $visit->getMember_id()->getName(); ?></td>
                    <td align="center"><?php echo $visit->getKey_id()->getKey_type()?"M":"F";?><?php echo $visit->getKey_id()->getKey_nr(); ?></td>
                    <td><a href="<?php echo $this->url('visit', array('action'=>'checkout', 'visit_id' => $visit->getVisit_id()));?>"><img src="<?php echo $this->basePath('img/check_out2.png') ?>" width="20" alt="Checkout"/></a></td>
                </tr>
                      
    <?php endforeach; ?>
<?php endif; ?>
        
        </table> 
    </div>

