<?php
$title = 'Eintragung in das Kassenbuch';
?>
<h3><?php echo $this->escapeHtml($title); ?></h3>
<?php
    //$form = $this->form;
    //$form->setAttribute('action', $this->url('cashbook', array('action' => 'add')));    
    
    //echo $this->form()->openTag($form); ?>
      <div class="divtable new">
        <div class="divtablecol">
            <div class="divtablecell">
                <?php //echo $this->formRow($form->get('cashbook_nr')); ?>  
                <?php //echo $this->formRow($form->get('cashbook_time')); ?>
                <?php //echo $this->formRow($form->get('cashbook_text')); ?>
                <?php //echo $this->formRow($form->get('cashbook_money')); ?>
                <?php //echo $this->formRow($form->get('cashbook_status')); ?>
                <?php //echo $this->formRow($form->get('cashbook_tax')); ?>
            </div>
        </div>
    </div>
  <?php //echo $this->formRow($form->get('submit')); ?>  
<?php
    //echo $this->form()->closeTag();
?>