<?php
$title = 'Einen neuen Kurs erfassen';
$this->headTitle($title);
?>

<div class="wrapper_content">
<?php
    $form = $this->form;
    $form->setAttribute('action', $this->url('course', array('action' => 'add')));
    
    echo $this->form()->openTag($form); ?>
      <table class="new">
        <tr>
            <td><?php echo $this->formRow($form->get('course_name')); ?>   
                <?php echo $this->formRow($form->get('course_health')); ?>
                <?php echo $this->formRow($form->get('course_active')); ?>
                <?php echo $this->formRow($form->get('course_quantity')); ?>
                <?php echo $this->formRow($form->get('course_14day')); ?>
                <?php echo $this->formRow($form->get('course_duration')); ?>
            </td>
        </tr>  
    </table>
  <?php echo $this->formRow($form->get('submit')); ?>  
<?php
    echo $this->form()->closeTag();
?>
