<?php

$title = 'Kurse deaktivieren';
$this->headTitle($title);
?>
<div class="wrapper_content">

<h3>Willst du den Kurs <i><?php echo $course->getCourse_Name(); ?></i> wirklich deaktivieren?</h3><br/>
    
    <form method="POST" action="<?php echo $this->url('course', array("action"=>"delete", "course_id"=>$course->getCourse_id())) ?>">
        <input type="hidden" value="<?php echo $course->getCourse_id(); ?>">
        <input type="submit" value="deaktivieren">
    </form>    