<?php

$title = 'Kurse bearbeiten';
$this->headTitle($title);

    $form = $this->form;
    $form->setAttribute('action', $this->url(
        'course',
            array(
            'action' => 'edit',
            'course_id' => $this->course_id,
            )
    ));
    $form->prepare();
    
echo $this->form()->openTag($form); ?>
  <div class="wrapper_content">  
      <table>
        <tr>
            <td>
                <?php echo $this->formRow($form->get('course_name')); ?>  
                <?php echo $this->formRow($form->get('course_quantity')); ?>
                <?php echo $this->formRow($form->get('course_health')); ?>
                <?php echo $this->formRow($form->get('course_active')); ?>                
                <?php echo $this->formRow($form->get('course_14day')); ?>
                <?php echo $this->formRow($form->get('course_duration')); ?>
            </td>
        </tr>  
    </table>   
  </div>    
<div align="center"><?php echo $this->formRow($form->get('submit')); ?></div>
<?php
   
    echo $this->form()->closeTag();
