    <?php
    $this->title="Kurse Überblick";
    $this->head=$this->title;
    $this->headtitle($this->title);
    ?>
    
    <?php if (isset($courses)) : ?>    
        <div class="wrapper_content">
            <table class="member">
                <thead>
                    <tr>
                        <th>Kursbezeichnung</th>
                        <th>Kursdauer</th>
                        <th>Teilnehmerzahl</th>
                        <th>von Kassen gefördert</th>
                        <th>Kurs 14-tägig</th>
                        <th>Kurs aktiv</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody id="table_memberarea">            
                    <?php foreach($courses as $course): ?>
                    <tr>
                        <td><?php echo $course->getCourse_Name(); ?></td>                        
                        <td align="center"><?php echo $course->getCourse_Duration();?> min</td>
                        <td align="center"><?php echo $course->getCourse_Quantity(); ?></td>
                        <td align="center"><?php 
                                switch ($course->getCourse_Health()){
                                case 0: echo 'nein ';break;
                                case 1: echo 'ja';break;
                            } ; 
                            ?></td>
                        <td align="center"><?php 
                                switch ($course->getCourse_14Day()){
                                case 0: echo 'nein ';break;
                                case 1: echo 'ja';break;
                            } ; 
                            ?></td>
                        <td align="center"><?php 
                                switch ($course->getCourse_Active()){
                                case 0: echo 'nein ';break;
                                case 1: echo 'ja';break;
                            } ; 
                            ?></td>
                        <td align="center">                        
                        <nobr>
                            <a href="<?php echo $this->url('course', array('action'=>'edit', 'course_id' => $course->getCourse_id()));?>"><img src="<?php echo $this->basePath('img/edit.png') ?>" alt="Ändern"/></a> |
                            <a href="<?php echo $this->url('course', array('action'=>'delete', 'course_id' => $course->getCourse_id()));?>"><img src="<?php echo $this->basePath('img/delete.png') ?>" alt="Kurs deaktivieren"/></a>
                        </nobr>
                        </td>
                    </tr>
                            <?php endforeach; ?>
                </tbody>
            </table>
    <?php endif; ?>
            
    <br>
    <a href="<?php echo $this->url('course', array('action'=>'add'));?>">neuen Kurs erfassen</a>
    
    <hr>   
    <br>
        
    <?php if (isset($plans)): ?>    
        <div class="wrapper_content">
            <table class="timetable">
                <thead>
                    <tr>
                        <th>Zeit</th>
                        <th>Zeit löschen</th>
                        <th>Montag</th>
                        <th>Dienstag</th>
                        <th>Mittwoch</th>
                        <th>Donnerstag</th>
                        <th>Freitag</th>
                        <th>Sonnabend</th>
                        <th>Sonntag</th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    //Wochentage Vorbereiten
                    $date = new DateTime('last sunday');
                    $interval = DateInterval::createFromDateString('+1 day');
                    $period = new DatePeriod($date, $interval, 7, DatePeriod::EXCLUDE_START_DATE);
                    ?>
                    <tr>
                        <td>
                            <?php
                            foreach($times as $time){                           //Uhrzeiten Ausgeben                                
                                echo "<p>
                                    ".$time->getBegin()->format("H:i")." bis<br>
                                    ".$time->getEnd()->format("H:i")." Uhr 
                                    </p>";
                            }
                            ?>
                        </td>
                        
                        <td>
                            <?php
                            foreach($times as $time){                           //Uhrzeiten Ausgeben
                                echo "<p>
                                    ID ".$time->getTime_id()." ";
                            ?>
                                <a href="<?php echo $this->url('time', array('action'=>'delete', 'time_id' => $time->getTime_id()));?>"><img src="<?php echo $this->basePath('img/delete.png') ?>" alt="Löschen"/></a>
                                <?php
                            echo "<br><br></p>";   
                            }
                            ?>
                        </td>
                        
                    <?php foreach ($period as $date){
                        echo "<td>\n";
                            foreach($times as $time){
                            $timematch = false;
                                foreach($plans as $plan){
                                $plan=$plan[0];
                                    if($plan->getCourse_Date()==$date){
                                        if($time==$plan->getTime_id()){
                                        $timematch=true;
                                            echo "<p>".
                                            $plan->getCourse_id()->getCourse_Name()."<br>".
                                            "Teilnehmer: ".$plan->getCourse_id()->getCourse_Quantity()."<br>
                                            </p>";
                                        }
                                    }
                                }
                            //Kein Kurs gefunden
                            if(!$timematch){
                                    echo "<p>
                                        <br>
                                        <br>
                                        </p>";
                            }
                        }
                        echo "</td>\n";
                    }
                    ?>
                    </tr>
                </tbody>
            </table>    
    <?php endif; ?>
            <br>
        <a href="<?php echo $this->url('plan', array('action'=>'add'));?>">Kurstermin festlegen</a> |<a href="<?php echo $this->url('plan', array('action'=>'delete'));?>">Kurstermin löschen</a>        
        <br><br>
    </div>
        <a href="<?php echo $this->url('time', array('action'=>'add'));?>">neue Kurszeit eingeben</a> |<a href="<?php echo $this->url('time', array('action'=>'index'));?>">Kurszeit löschen</a>
    </div>
