    <?php
$title = 'Kurszeit festlegen';
$this->headTitle($title);
?>

<div class="wrapper_content">
<?php
    $form = $this->form;
    $form->setAttribute('action', $this->url('time', array('action' => 'add')));
    
    echo $this->form()->openTag($form); ?>
      <table class="new">
        <tr>
            <td>    
                <?php echo $this->formRow($form->get('begin')); ?>
                <?php echo $this->formRow($form->get('end')); ?>
                <?php echo $this->formRow($form->get('time_active')); ?>
            </td>
        </tr>  
    </table>
  <?php echo $this->formRow($form->get('submit')); ?>  
<?php
    echo $this->form()->closeTag();
?>
