<?php

$title = 'Kurszeit löschen';
$this->headTitle($title);
?>
<div class="wrapper_content">
<h1><?php echo $this->escapeHtml($title); ?></h1>

<?php if($time->getdeletable()){?>
<h3>Willst du wirklich die Kurszeit von <?php echo $time->getBegin()->format("H:i")." bis
                                    ".$time->getEnd()->format("H:i"); ?> Uhr wirklich löschen?</h3><br/>
    <form method="POST" action="<?php echo $this->url('time', array("action"=>"delete", "time_id"=>$time->getTime_id())) ?>">
        <input type="hidden" value="<?php echo $time->getTime_id(); ?>">
        <input type="submit" value="löschen">
    </form>    
<?php }else{ ?>
   Für diese Zeit sind noch Kurse eingetragen!
<?php } ?>
