<?php
    $this->title="Kurszeit löschen";
    $this->head=$this->title;
    $this->headtitle($this->title);
    ?>
    
    <?php if (isset($times)): ?>    
        <div class="wrapper_content">
            <table class="timetable">
                <thead>
                    <tr>
                        <th>KurszeitZeit</th>
                        <th>Zeit löschen</th>
                    </tr>
                </thead>
                <tbody>                    
                    <tr>
                        <td>
                            <?php
                            foreach($times as $time){                           //Uhrzeiten Ausgeben                                
                                echo "<p>
                                    ".$time->getBegin()->format("H:i")." bis
                                    ".$time->getEnd()->format("H:i")." Uhr</p>";
                            }
                            ?>
                        </td> 
                        <td>
                            <?php
                            foreach($times as $time){                           //Uhrzeiten Ausgeben
                                echo "<p>";
                            ?>
                                <a href="<?php echo $this->url('time', array('action'=>'delete', 'time_id' => $time->getTime_id()));?>"><img src="<?php echo $this->basePath('img/delete.png') ?>" alt="Löschen"/></a>
                                <?php
                            echo "</p>";   
                            }
                            ?>
                        </td>
                        
                    </tr>
                </tbody>
            </table>    
    <?php endif; ?>
    </div>
