#cash_register ::selection {
    background: transparent;
    color: inherit;
}
#cash_register ::-moz-selection {
    background: transparent;
    color: inherit;
}
#cash_register{
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    float: left;
}
    #cash_register #receipt{
        display: inline;
        float: left;
    }
        #positions_wrapper{
            min-height: 255px;
        }
        /*Tabelle*/
        #receipt div.table { 
            display: table; 
            border-collapse:collapse; 
        }
        /*Row*/
        #receipt div.table div { 
            display:table-row; 
        }
        /*Row*/
        #receipt div.table div.selected { 
            display:table-row; 
            box-shadow: 0 0 10px yellow;
            -webkit-box-shadow:0 0 10px yellow;
            -moz-box-shadow: 0 0 10px yellow;
            -webkit-appearance: none;
        }
        
        /*Cell*/
        #receipt div.table div div { 
            display:table-cell; 
            border:thin solid red; 
            padding:5px; 
        }
        #receipt div.table div.selected div { 
            display:table-cell; 
            background-color: rgba(255,0,0,0.5);
            padding:5px; 
        }
        
        #receipt button{
            float: left;
            line-height: 50px;
            text-align: center;
            width: 230px;
            height: 50px;
            border: 1px solid red;
            background: lightcoral;
            margin: 5px;
            padding: 0px;
        }
        #receipt button:first-of-type{
            border: 1px solid red;
            background: lightcoral;
        }
        #receipt button:last-of-type{
            border: 1px solid green;
            background: lightgreen;
        }
        #book_button{
            float: right;
            line-height: 60px;
            text-align: center;
            width: 165px;
            height: 64px;
            background: lightgray;
            border-radius: 10px;
            border: 2px solid lightgray;
            margin: 5px;
            padding: 0px;
        }
        #bon_button{
            float: right;
            line-height: 62px;
            text-align: center;
            width: 64px;
            height: 64px;
            background: #D90000;
            border-radius: 10px;
            border: 2px solid #D90000;
            margin: 5px;
            padding: 0px;
        }
    #cash_register #catalog{
        display: inline;
        float: left;
    }
        #articles{
            display: block;
            height: 220px;
        }
        #articles section {
            position: absolute;
            display: block;
            width: 520px;
            height: 380px;
            top: 30px;
            background-color: #c5d2de;
        }

        #articles section h2 {
            position: absolute;
            left: 0;
            top: -30px;
            width: 124px;
            height: 29px;
            font-family: Verdana;
            font-size: 15px;
            margin: 0;
            background-color: #194b7d;
            border-radius: 5px 5px 0 0;
            border: solid #ffffff;
            border-width: 1px 1px 0 0;
            z-index: 1;
        }

        #articles section:nth-child(2) h2 {
            left: 120px;
        }

        #articles section:nth-child(3) h2 {
            left: 240px;
        }
        
        #articles section:nth-child(4) h2 {
            left: 360px;
        }

        #articles section h2 a {
            display: block;
            margin: 5px 0 0 0;
            text-align: center;
            text-decoration: none;
            color: #c5d2de;
        }

        #articles section:target, #articles section:target h2 {
            color: #000000;
            background-color: #c5d2de;
            z-index: 1;
        }

        #articles section:target h2 a {
            color: #194b7d;
        }

        #articles section div {
            font-family: Verdana;
            font-size: 15px;
            margin: 10px 10px 0 10px;
        }

        #articles section div div {
            max-width: 120px;
            height: 60px;
            border: 1px solid black;
            float: left;
            -moz-hyphens: auto;
            -o-hyphens: auto;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            min-width: 80px;
        }
        #articles section div div.selected { 
            box-shadow: 0 0 10px yellow;
        }

    
        #catalog #amount_select{
            display: block;
            top: 125px;
            position: relative;
        }
    
        #catalog #amount_select div{
            float: left;
            line-height: 50px;
            text-align: center;
            width: 50px;
            height: 50px;
            border: 1px solid blue;
            background: lightblue;
            margin: 5px;
        }
        
        #catalog #amount_select div:last-child{
            border: 1px solid red;
            background: lightcoral;
        }

        #catalog #article_controll{
            display: block;
            top: 125px;
            position: relative;
        }
        #catalog #article_controll button{
            float: left;
            line-height: 50px;
            text-align: center;
            width: 230px;
            height: 50px;
            border: 1px solid red;
            background: lightcoral;
            margin: 5px;
            padding: 0px;
        }
        #catalog #article_controll button:first-child{
            border: 1px solid red;
            background: lightcoral;
        }
        #catalog #article_controll button:last-child{
            border: 1px solid green;
            background: lightgreen;
        }
