body{
    margin: 0px;
    color: #1f1f1f;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#inner_content{
    height: 100%;
    width: 100%;
    z-index: 1;
}
#left_content{
    position: fixed;
    height: 100%;
    display: block;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 150px;
    background-color: #d90000;
    border-right: 1px black solid;
}
#logo{
    display: inline-block;
    width: 150px;
    height: 100px;
    padding-top: 10px;
    left: 0px;
}
#logo a{
    text-decoration: none;
}
#logo a div{
    color: #e5e5e5;
    font-size: 22px;
    font-style: italic;
    line-height: 20px;
    padding: 15px;
    text-shadow: 3px 3px 3px #1f1f1f;
}
#menu{
    left: 200px;
    display: inline-block;
    width: 200px;
}
#menu ul{
    padding: 0px;
    margin: 0px;
}
#menu ul li{
    display: inline-block;
    float: left;
    padding: 20px;
    text-align: center;
    margin: 3px;
    width: 145px;
    border-radius: 4px;
    border: 2px solid #cecece;
    list-style: none;
    /*float:left;*/
}
#menu ul li:hover{
    display: block;
    border-radius: 4px;
    border: 2px solid #cecece;
    background-color: white;
    height: fit-content;
}
#menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: block;
}
#menu ul li:hover a{
    color: red;
    text-decoration: underline;
    font-size: 20px;
}
#menu ul li:hover > ul {
    visibility: visible;
    position: relative;
    top: 0px;
    left: -11px;
}
#menu ul li ul{
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
    padding: 0px;
    margin: 3px;
    margin-left: -18px;
    margin-top: 8px;
    width: 100%;
    display: inline-block;
}
#menu ul li ul li{
    display: block;
    float: none;
    background: white;
    width: 140px;
    padding: 20px;
    margin: 3px;
  
}
#header{
    position: fixed;
    top: 0px;
    left: 150px;
    right: 500px;
    height: 110px;
    z-index: 6;
    border-bottom: 1px solid black;
    background: white;
    overflow-y: hidden;
}
#header .divtable{
    display:table;         
    width:auto;         
    min-width: 100px;
    background-color:#eee;         
    border:0px solid #666666;         
    border-spacing:2px;
}
#header .divtablehead{
    /*display:table-caption;   */
    width:auto;     
    background-color: #d90000;
    min-width: 100px;
    border: 2px solid #777777;         
    border-spacing:5px;
    margin-bottom: 5px;
}

#header .divtablehead .divtablecell{
    border: 1px solid #888888;         
    font-weight: bold;
}
#header .divtablehead .divtablecell a{
    color: black;    
}
#header .divtablehead:hover .divtablecell{
    background-color: #d3d3d3 !important;
    color: grey;
}

#middle_content.expandheader{
    /*top: 200px;*/
}

#middle_content.expandheader #header{
    height: 200px;
}

#middle_content{
    position: absolute;
    left: 150px;
    right: 500px;
    top: 100px;
    background: white;
    z-index: 3;
    display: block;
    -webkit-transition: left 1s, padding 1s;
    transition: left 1s, padding 1s;
    border-left: none;
    padding: 20px;
    
}

#cash_button{
    position: absolute;
    width: 100px;
    height: 200px;
    margin: 0 0 0 10px;
    background-image: url('../img/cash-register.png');
    background-position: 0px 0px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    top: 0px;
    right: 5px;
}

#middle_content .divtablebody{
    /*display: ;*/
}
#middle_content .divtablerow{
    display:table-row;
    width:auto;
    clear:both;
}
#middle_content .divtablecol{
    float:left;
    display:table-column;         
    width:380px;         
    background-color:#ccc;  
}
#middle_content .divtablecell{
    display:table-cell;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    padding: 2px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
#middle_content .divtablerow:hover .divtablecell{
    background-color: red;
    color: white;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
}
#middle_content form{
    font-size: 15px;
}
#middle_content form input{
    font-size: 12px;
}
#middle_content form button{
    margin-top: -4px;
    font-size: 16px;
}
#middle_content form label span{
    display: inline-block;
    width: 200px;
}
#middle_content .right{
    text-align: right;
}
#middle_content .center{
    text-align: center;
}
#right_content{
    position: fixed;
    height: 100%;
    display: block;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 500px;
    border-left: 1px black solid;
}

#reader_status{
    float: left;
    width: 50px;
    height: 50px;    
    background-image: url('../img/Rfid-Sensor.png');
    background-position: 0px 0px;
    background-size: 150px 50px;
}
#reader_status.green{
    background-position: 50px 0px;
}
#reader_status.red{
    background-position: 100px 0px;
}
#reader{
    width: 100%;
    display: inline;
    float: left;
}
#reader > table{
    margin: 7px;
}
#member_id{
    display: block;
}
#member_gender{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: 50px 50px;
}
#member_gender.male{
    background-image: url('../img/user-male.png');
}
#member_gender.female{
    background-image: url('../img/user-female.png');
}

#middle_content .divtable{
    display:table;         
    width:auto;         
    min-width: 100px;
    /*background-color:#eee;         
    border:2px solid #666666;         
    border-spacing:5px;*/
}
#middle_content .divtablehead{
    /*display:table-caption;   */
    width:auto;     
    background-color: #d3d3d3;
    min-width: 100px;
    border: 3px solid #777777;         
    border-spacing:5px;
    margin-bottom: 5px;
}

#middle_content .divtablehead .divtablecell{
    border: 1px solid #888888;         
    font-weight: bold;
}
#middle_content .divtablehead .divtablecell a{
    color: black;    
}
#middle_content .divtablehead:hover .divtablecell{
    background-color: #d3d3d3 !important;
    color: grey;
}
#key_list {
    float: left;
    margin-top: 0px;
    padding: 7px;
    width: 100%;
    height: auto;
    border-top: 1px solid black;
}
#key_list button.key{
    border: 3px solid;
    border-radius: 12px;
    background-color: white;
}
#key_list button.key-female{
    border-color: darkred;
}
#key_list button.key-male{
    border-color: darkblue;
}

#visitor_list {
    border-top: 1px solid black;
    float: left;
    margin-top: 0px;
    height: auto;
    width: 100%;
    /*overflow-y: scroll;*/
    float: left;
}
#visitor_list p:first-child{
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#visitor_list p{
    display: inline-block;
    width: 240px;
    vertical-align: top;
    padding: 5px;
}

#visitor_list button.key{
    border: 3px solid;
    border-radius: 12px;
    background-color: white;
}

#visitor_list button.key-female{
    float: right;
    border-color: darkred;
}

#visitor_list button.key-male{
    float: left;
    border-color: darkblue;
}
