<?php
    $this->title="Schlüssel anlegen";
    $this->head=$this->title;
    $this->headtitle($this->title);

    $form = $this->form;
    $form->setAttribute('action', $this->url(
        'key',
        array(
            'action' => 'add',
        )
    ));
    $form->prepare();
    echo $this->form()->openTag($form); ?>
    <div class="divtable">  
        <div class="divtablecol">
            <div class="divtablecell">
                <?php echo $this->formRow($form->get('key_id')); ?>   
                <?php echo $this->formRow($form->get('key_nr')); ?>  
                <?php echo $this->formRow($form->get('key_type')); ?>
                <?php echo $this->formRow($form->get('rfid')); ?>
            </div>            
        </div>  
    </div>    
    <div align="center">
        <?php echo $this->formRow($form->get('learn')); ?>
        <?php echo $this->formRow($form->get('submit')); ?>
    </div>
<?php
   
    echo $this->form()->closeTag();