<?php
$title = 'Schlüssel löschen';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1> 
    <h3>Willst Du den Schlüssel <?php echo $key->getKey_type()?"M".$key->getKey_nr():"W".$key->getKey_nr(); ?>  wirklich l&ouml;schen?</h3><br/>
    
    <form method="POST" action="<?php echo $this->url('key', array("action"=>"delete", "key_id"=>$key->getKey_id())) ?>">
        <input type="hidden" value="<?php echo $key->getKey_id(); ?>">
        <input type="submit" value="löschen">
    </form>    