<?php
$this->title="Liste aller Schlüssel";
$this->head=$this->title;
$this->headtitle($this->title);
?>
    <div align="center"><a href="<?php echo $this->url('key', array('action'=>'add'));?>"> neuen Schlüssel erfassen</a></div>
    <?php if (isset($keys)) : ?>
    <div class="key divtable" id="table_keys">
        <div class="divtablerow divtablehead">
            <?php foreach($search["tableHead"] as $key => $value): ?> 
            <div class="divtablecell">
                <a href="javascript: sortBy('<?php echo $key ?>')" class="<?php echo $value[1] ?>" id="<?php echo $key ?>"><?php echo $value[0] ?></a>
            </div>
            <?php endforeach; ?>                    
            <div class="divtablecell">&nbsp;</div>
        </div>
        <?php 
        function cmp($a, $b){
            return ($a->getKey_id() >= $b->getKey_id());
        }
        usort($keys, "cmp");
        foreach($keys as $key): ?>
        <div class="divtablerow table_key" id="table_keyarea_<?php echo $key->getKey_id(); ?>">
            <div class="divtablecell"><?php echo $key->getKey_id(); ?> </div> 
            <div class="divtablecell" align="center"><?php echo $key->getKey_type()?'M'.$key->getKey_nr():'W'.$key->getKey_nr(); ?></div>
            <div class="divtablecell" align="center">
                <nobr>
                    <a href="<?php echo $this->url('key', array('action'=>'edit', 'key_id' => $key->getKey_id()));?>"><img src="<?php echo $this->basePath('img/edit.png') ?>" alt="Ändern"/></a> |
                    <a href="<?php echo $this->url('key', array('action'=>'delete', 'key_id' => $key->getKey_id()));?>"><img src="<?php echo $this->basePath('img/delete.png') ?>" alt="Löschen"/></a>
                </nobr>
            </div>
        </div>
        <?php endforeach; ?>
    </div>
    <?php endif; ?>
