<?php if(is_array($this->members) && count($this->members)>1): 
    foreach($this->members as $member): ?>
        <button class="select-member" onclick="checkinset('checkin_mitgl_nr',<?php echo $member->getMitgl_nr(); ?>);
                         checkinset('checkin_member_id',<?php echo $member->getMember_id(); ?>);
                     $('#checkin_key_nr').focus();
                     checkin('key');">
                    <img width="25" src="/img/user-<?php echo $member->getGender()?"male":"female";?>.png" alt=""/>
                    <?php echo $member->getMitgl_nr()." ".$member->getForename()." ".$member->getName(); ?>
        </button><br>
    <?php endforeach;
endif;
if(is_array($this->members) && count($this->members)==1): 
    $member=$this->members[0] ?>
        <script type="text/javascript">
            checkinset('checkin_mitgl_nr',<?php echo $member->getMitgl_nr(); ?>);
            checkinset('checkin_member_id',<?php echo $member->getMember_id(); ?>);
            $('#checkin_key_nr').focus();
            checkin('key');
        </script>
        <button class="select-member">
            <img width="25" src="/img/user-<?php echo $member->getGender()?"male":"female";?>.png" alt=""/>
                <?php echo $member->getMitgl_nr()." ".$member->getForename()." ".$member->getName(); ?>
        </button>
        <button style="color:red; font-style: oblique;">
            <?php if($member->getContract()=='2') echo "Sparabo"; ?>
        </button>
        <br>
        
    <?php endif; ?>
