<form  autocomplete="off" action="#" onsubmit="return checkin('checkin');" method="POST" style="display:inline">
    Mitglied: <input onkeyup="checkin('membertimer');" type="text" size="3" id="checkin_mitgl_nr" name="mitgl_nr">
    <input type="hidden" name="member_id" id="checkin_member_id">
    Schlüssel: <input onkeyup="checkin('key');" type="Text" size="3" id="checkin_key_nr" name="key_nr">
    <input type="hidden" name="key_id" id="checkin_key_id">|
</form>
    <button class="key" onclick="checkout('all');">
        Checkout all<img width="20" src="/img/check_out2.png" alt=""/>
    </button>
<div id="rightresultlist"></div>
<hr>
<div id="visitors"></div>