<p>z.Z. trainieren:</p>
<p>
<?php
    $male=true;
    if(is_array($this->visitors) && count($this->visitors)>0):
    foreach($this->visitors as $visit): ?>
    <?php if($visit->getKey_id()->getKey_type()=="female" && $male){ $male=false; echo "</p><p>";} ?>    
    <button id="rfid_<?php echo $visit->getKey_id()->getRfid();?>" 
            class="select-member key key-<?php echo $visit->getKey_id()->getKey_type()?"male":"female";?>" 
            onclick="checkout('<?php echo $visit->getKey_id()->getRfid();?>',<?php echo $visit->getVisit_id(); ?>);">
            <!--<img width="25" src="/img/user-<?php echo $visit->getKey_id()->getKey_type()?"male":"female";?>.png" alt=""/>-->
            <?php echo $visit->getMember_id()->getMitgl_nr()." ".$visit->getMember_id()->printFullName(); ?> <?php echo $visit->getKey_id()->getKey_type()?"M":"F";?><?php echo $visit->getKey_id()->getKey_nr(); ?>|<img width="15" src="/img/check_out.png" alt="Check out"/>
    </button>
<?php
    endforeach;
endif; ?>
</p>
