<?php
    $firstday    =   date ('w', mktime (0, 0, 0, $this->month+1, 1, date("Y")));    
    $count_days  =   date ('t', mktime (0, 0, 0, $this->month+1, 1, date("Y")));
    $zeile       =   ($count_days + $firstday);
    $this_day    =   (($this->month+1)==date("m"))?date("d"):-1;
    
    $this->title ="Geburtstage im ". $this->months[$this->month] ."";
    $this->head=$this->title;
    $this->headtitle($this->title);
    
     
    $pmonths=array_merge(array_slice($this->months, $this->month+1, count($this->months)-$this->month),array_slice($this->months, 0, $this->month));
    
    for($x=0;$x<count($pmonths);$x++){        
       echo"<a href=\"".$this->url('calendar', array('action' => 'month', 'calendar_id' => $pmonths[$x]))."\">";        
         echo "<font size=\"+1\">" . $pmonths[$x] . " </font>";
       echo"<font size=\"+1\">::</font></a>";
    }
    
    if($firstday == 0){
      $firstday = 7;
    }
?>
<br><br>
    <table  class="calendar" border="1">
        <thead>
            <th>Montag</th>
            <th>Dienstag</th>
            <th>Mittwoch</th>
            <th>Donnerstag</th>
            <th>Freitag</th>
            <th>Samstag</th>
            <th>Sonntag</th>
        </thead>
    <tbody>
        
<?php
  echo "<tr>\n";
    $i = 1;
        while($i < $firstday){
            echo "<td>&nbsp;</td>\n";
    $i++;
        }
  
  $i = 1;
    while($i <= $count_days){
      $rest = ($i + $firstday-1) % 7;
        if($i == $this_day){
            echo "<td style=\"color:#FFFFFF; background-color: #D90000;\"><b><p align=\"center\">". $i.".</p></b>";    //today
        }elseif($rest == 6){
            echo "<td><p align=\"center\">". $i.".</p>";                         // class="samstag" (Tag 6)
            }
            elseif($rest == 0){
                echo "<td><p align=\"center\">". $i.".</p>";                     // class="sonntag" (Tag 0)
            }
            else{
                echo "<td><p align=\"center\">". $i.".</p>";
            }
      $heute = array();
      foreach($calendars as $calendar){
          //$calendar=$calendar[0];
            if($calendar->getBorn()->format("d")==$i){
                $heute[]=$calendar;
            }
      }
        for($x = 0; $x <count($heute); $x++){
          //echo '<div class="calendarbirthday">';  
          echo $heute[$x]->getForename(). " ".$heute[$x]->getName();
          //echo '</div>';
            $diff=count($heute)-$x;
                switch ($diff){
                    case 1:
                        break;
                    case 2:
                        echo " und ";
                        break;
                    default:
                        if(count($heute)>=2)
                            echo ", ";
                    break;
          }
        }

            echo "</td>\n";
      if($rest == 0){
          echo "</tr>\n\n";
          echo "<tr>\n";
      }
      $i++;
    }     
    
    while(($zeile-1)%7){          // leere Zellen darstellen
      echo "<td>&nbsp;</td>";
      $zeile++;
    }
  echo "</tr>\n";  
  ?>
    </tbody>
</table>  
</div>
