<?php echo $this->doctype(); ?><html lang="de">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle() ?>
        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0')->appendHttpEquiv('X-UA-Compatible', 'IE=edge'); ?>
        <!-- styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/jquery.ui.timepicker.css')
                        ->prependStylesheet($this->basePath() . '/css/jquery-ui.css')
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        //->prependStylesheet($this->basePath() . '/css/manageTables.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
                        ->prependStylesheet($this->basePath() . '/css/cashregister.css');
            ?>

        <!-- Scripts -->
        <?php echo $this->headScript()            
            ->prependFile($this->basePath() . '/js/onload.js')
            ->prependFile($this->basePath() . '/js/controll.js')    
            ->prependFile($this->basePath() . '/js/rfidreader.js')
            ->prependFile($this->basePath() . '/js/cashregister.js')
            //->prependFile($this->basePath() . '/js/manageTables.js')    
            ->prependFile($this->basePath() . '/js/jquery.ui.timepicker-de.js')
            ->prependFile($this->basePath() . '/js/jquery.ui.timepicker.js')
            ->prependFile($this->basePath() . '/js/modernizr.js')
            ->prependFile($this->basePath() . '/js/jquery-ui.js')
            ->prependFile($this->basePath() . '/js/bootstrap.min.js')
            ->prependFile($this->basePath() . '/js/jquery.min.js');
            ?>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />  
    </head>
    <body>
        <?php echo $this->content; ?>
        <?php echo $this->inlineScript() ?>
    </body>
</html>