<?php echo $this->doctype(); ?><html lang="de">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle() ?>
        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0')->appendHttpEquiv('X-UA-Compatible', 'IE=edge'); ?>
        <!-- styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/jquery.ui.timepicker.css')
                        ->prependStylesheet($this->basePath() . '/css/jquery-ui.css')
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
                        ->prependStylesheet($this->basePath() . '/css/cashregister.css');
        ?>

        <!-- Scripts -->
        <?php echo $this->headScript()            
            ->prependFile($this->basePath() . '/js/onload.js')
            ->prependFile($this->basePath() . '/js/controll.js')    
            ->prependFile($this->basePath() . '/js/rfidreader.js')
            ->prependFile($this->basePath() . '/js/cashregister.js')
            ->prependFile($this->basePath() . '/js/jquery.ui.timepicker-de.js')
            ->prependFile($this->basePath() . '/js/jquery.ui.timepicker.js')
            ->prependFile($this->basePath() . '/js/modernizr.js')
            ->prependFile($this->basePath() . '/js/jquery-ui.js')
            ->prependFile($this->basePath() . '/js/bootstrap.min.js')
            ->prependFile($this->basePath() . '/js/jquery.min.js')
        ?>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />              
    </head>
    <body>
        <div id="wrapper_content">
            <div id="inner_content">
                <div id="left_content">
                    <div id="logo">
                        <a href="<?php echo $this->url('home') ?>">
                            <div >Fitness for you <br> Clubmanager</div>
                        </a>
                    </div>
                    <div id="menu">
                        <ul>
                            <li>
                                <a href="<?php echo $this->url('cashbook', array('action'=>'add'));?>">
                                    <img src="<?php echo $this->basePath('img/register.png ') ?>">
                                </a>
                            </li>
                            <li><a href="<?php echo $this->url('member') ?>">Mitglieder</a>
                                <ul>
                                    <li><a href="<?php echo $this->url('member') ?>">Liste</a></li>
                                    <li><a href="<?php echo $this->url('search') ?>">Suche</a></li>
                                    <li><a href="<?php echo $this->url('member', array('action' => 'add')) ?>">Hinzufügen</a></li>
                                    <li><a href="<?php echo $this->url('visit') ?>">Check in</a></li>
                                </ul>
                            </li>
                            <li><a href="<?php echo $this->url('plan') ?>">Kursplan</a></li>
                            <li><a href="<?php echo $this->url('calendar') ?>">Kalender</a></li>
                            <li><a href="#">Verwaltung</a>
                                <ul>
                                    <li><a href="<?php echo $this->url('key') ?>">Schlüssel</a></li>
                                    <li><a href="<?php echo $this->url('course') ?>">Kurse</a></li>
                                    <li><a href="<?php echo $this->url('cashbook', array('action'=>'day')) ?>">Kassenbuch</a></li>
                                    <li><a href="<?php echo $this->url('cashbook', array('action'=> 'addCosts')) ?>">Ausgaben</a></li>
                                    <li><a href="<?php echo $this->url('article') ?>">Artikel</a></li>
                                    
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="middle_content">
                    <div id="header">
                        <div class="header divtable">
                            <div class="divtablerow divtablehead">
                                <div class="divtablecell center">gestern</div>                   
                                <div class="divtablecell center">heute</div>
                                <div class="divtablecell center">morgen</div>
                            </div>
                            
                            <div class="divtablerow">
                                <div class="divtablecell"><?php echo $this->birthdays()->show("yesterday");?></div>
                                <div class="divtablecell"><?php echo $this->birthdays()->show("today");?></div>
                                <div class="divtablecell"><?php echo $this->birthdays()->show("tomorrow");?></div> 
                            </div>
                        </div>
                    </div>
                    <div class="heading">
                        <h3><?php echo $this->headTitle()->renderTitle(); ?></h3>
                    </div>
                    <?php echo $this->content; ?>
                    <?php echo $this->inlineScript() ?>
                </div>
                <div id="right_content">
                    <div id="reader" class="member">
                        <table>
                            <tbody>
                                <tr>
                                    <td rowspan="4">
                                        <a id="member_id" href="<?php echo $this->url('member', array('action' => 'edit', 'member_id' =>"")) ?>">
                                            <div id="member_gender" class="" src=""></div>
                                        </a>
                                        <div id="reader_status" onclick="rfidReader.start()"></div>
                                    </td>
                                    <td>Mitgl.-Nr.:</td>
                                    <td><input id="mitgl_nr" type="text" value="" size="4" style="width: 80px;" onkeypress="MemberTranslate()"></td>
                                    <td>Adresse.:</td>
                                    <td rowspan="2"><b id="street"></b><br><b id="zipcode"></b> <b id="city"></b></td>
                                </tr>
                                <tr>
                                    <td>Name:</td>
                                    <td><b id="forename"></b> <b id="name"></b></td>
                                </tr>
                                <tr>
                                    <td>Geburtst.:</td>
                                    <td><b id="born"></b></td>
                                    <td>Guthaben:</td>
                                    <td><b style="color:green;">--,-- €</b></td>
                                </tr>
                                <tr>
                                    <td>Mitglied seit:</td>
                                    <td><b id="entry"></b></td>
                                    <td>letzter Besuch:</td>
                                    <td><b id="last_visit"></b></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Telefon:</td>
                                    <td><b id="telephone"></b></td>
                                    <td>Mobil:</td>
                                    <td><b id="mobilNr"></b></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Vertrag:</td>
                                    <td><b id="contract"></b></td>
                                    <td>Laufzeit:</td>
                                    <td><b id="runtime"></b></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Beruf:</td>
                                    <td><b id="profession"></b></td>
                                    <td>Firma:</td>
                                    <td><b id="company"></b></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="4">Letzte Besuche:
                                    <b id="last_visit"></b>
                                    <b id="last_visit2"></b>
                                    <b id="last_visit3"></b>
                                    <b id="last_visit4"></b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="key_list"></div>
                    <div id="visitor_list"></div>
                </div>
            </div>
        </div>
    </body>
</html>