<style>
    .etiketten p{
        float: left;
        width: 190px; 
        height: 88px;
        margin-top: 4px;
        margin-left: 1px;
        margin-right: 2px;
        padding: 0px;
        font-size: 12pt;
        font-weight: bold;
        text-align: left;
        display: table-cell;
        vertical-align: top;
        border: 0px solid black;
        page-break-inside:avoid; /*wichtig fürs drucken*/
    }
</style>
<div style="width:900px;" class="etiketten">
<?php
    if (isset($members)) : ?>
        <?php foreach($members as $member): ?>
        <p>
            <?php echo $member->getForename(); ?> <?php echo $member->getName(); ?><br>
            <?php echo $member->getStreet(); ?><br>
            <?php echo $member->getZipCode(); ?> <?php echo $member->getCity(); ?></p>
        <?php endforeach; ?>
    <?php endif; ?>
</div>