<?php

$title = 'Stammdaten eines neuen Mitglieds erfassen';
?>
<h3><?php echo $this->escapeHtml($title); ?></h3>
<?php
    $form = $this->form;
    $form->setAttribute('action', $this->url('member', array('action' => 'add')));    
    
    echo $this->form()->openTag($form); ?>
      <div class="divtable new">
        <div class="divtablecol">
            <div class="divtablecell">
                <?php $form->get('mitgl_nr')->setAttribute('readonly', 'true'); 
                      $form->get('mitgl_nr')->setAttribute('value', $this->MitglNr); 
                      echo $this->formRow($form->get('mitgl_nr')); ?>
                <?php echo $this->formRow($form->get('name')); ?>  
                <?php echo $this->formRow($form->get('forename')); ?>
                <?php echo $this->formRow($form->get('gender')); ?>
                <?php echo $this->formRow($form->get('born')); ?>
                <?php echo $this->formRow($form->get('street')); ?>
                <?php echo $this->formRow($form->get('zipCode')); ?>
                <?php echo $this->formRow($form->get('city')); ?>
                <?php echo $this->formRow($form->get('telephone')); ?>
                <?php echo $this->formRow($form->get('mobilNr')); ?>    
                <?php echo $this->formRow($form->get('faxNr')); ?>    
                <?php echo $this->formRow($form->get('email')); ?>
            </div>
        </div>
        <div class="divtablecol">
            <div class="divtablecell">
                <?php echo $this->formRow($form->get('company')); ?>
                <?php echo $this->formRow($form->get('profession')); ?>
                <?php echo $this->formRow($form->get('contract')); ?> 
                <?php echo $this->formRow($form->get('runtime')); ?>
                <?php echo $this->formRow($form->get('entry')); ?> 
                <?php echo $this->formRow($form->get('sauna_week')); ?>
                <?php echo $this->formRow($form->get('solarabo')); ?>
                <?php echo $this->formRow($form->get('start')); ?>            
                <?php echo $this->formRow($form->get('kontoInh')); ?>
                <?php echo $this->formRow($form->get('kontoNr')); ?>
                <?php echo $this->formRow($form->get('iban')); ?>
                <?php echo $this->formRow($form->get('zahlweise')); ?>
                <?php echo $this->formRow($form->get('origin')); ?>
                <?php echo $this->formRow($form->get('remark')); ?>
                <?php echo $this->formRow($form->get('rfid')); ?>
            </div>
        </div>
    </div>
    <?php echo $this->formRow($form->get('learn')); ?>  
    <?php echo $this->formRow($form->get('submit')); ?>  
<?php
    echo $this->form()->closeTag();
?>
