<?php

$title = 'Mitglied deaktivieren';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1> 
    <h3>Willst Du das Mitglied <?php echo $member->getForename() . ' ' . $member->getName(); ?>  wirklich deaktivieren?</h3><br/>
    
    <form method="POST" action="<?php echo $this->url('member', array("action"=>"delete", "member_id"=>$member->getMember_id())) ?>">
        <input type="hidden" value="<?php echo $member->getMember_id(); ?>">
        <input type="submit" value="deaktivieren">
    </form>    