    <?php
    $this->title="Stammdaten der Clubmitglieder";
    $this->head=$this->title;
    $this->headtitle($this->title);
    ?>

    <div align="center"><a href="<?php echo $this->url('member', array('action'=>'add'));?>"><img width="28" src="<?php echo $this->basePath('img/Contacts.png ') ?>" alt="Mitglied eintragen"> neues Mitglied erfassen</a></div>
    <?php if (isset($members)) : ?>
        <div class="member divtable" id="table_members">
            <div class="divtablerow divtablehead">
                <?php foreach($search["tableHead"] as $key => $value): ?> 
                <div class="divtablecell">
                    <a href="javascript: sortBy('<?php echo $key ?>')" class="<?php echo $value[1] ?>" id="<?php echo $key ?>"><?php echo $value[0] ?></a>
                </div>
                <?php endforeach; ?>                    
                <div class="divtablecell">&nbsp;</div>
            </div>
                <?php foreach($members as $member): ?>
            <div class="divtablerow table_member" id="table_memberarea_<?php echo $member->getMember_id(); ?>">
                <div class="divtablecell" align="center"><?php echo $member->getMitgl_nr(); ?></div>
                <div class="divtablecell"><?php echo $member->getForename(); ?> </div>
                <div class="divtablecell"><?php echo $member->getName(); ?> </div> 
                <div class="divtablecell"><?php echo $member->getCity(); ?></div>
                <div class="divtablecell" align="center">
                    <nobr>
                        <a href="<?php echo $this->url('member', array('action'=>'edit', 'member_id' => $member->getMember_id()));?>"><img src="<?php echo $this->basePath('img/edit.png') ?>" alt="Ändern"/></a> |
                        <a href="<?php echo $this->url('member', array('action'=>'delete', 'member_id' => $member->getMember_id()));?>"><img src="<?php echo $this->basePath('img/delete.png') ?>" alt="Löschen"/></a>
                    </nobr>
                </div>
            </div>
            <?php endforeach; ?>
        </div>
    <?php endif; ?>