<?php
$title = 'Eintrag von Ausgaben';
?>
<h3><?php echo $this->escapeHtml($title); ?></h3>
<?php
    $form = $this->form;
    $form->setAttribute('action', $this->url('cashbook', array('action' => 'addCosts')));    
    
    echo $this->form()->openTag($form); ?>
    <p>Preise mit PUNKT statt Komma, Menge und Steuer als Ganzzahl</p>
      <div class="divtable new">
        <div class="divtablerow divtablehead">
            <div class="divtablecell">
                Bezeichung
            </div>
            <div class="divtablecell">
                Steuer in %
            </div>
            <div class="divtablecell">
                Preis in €
            </div>
            <div class="divtablecell">
                Menge
            </div>
        </div>
       <?php if(isset($post["articles"])) foreach($post["articles"] as $id=>$article){?>
        <div class="divtablerow">
            <div class="divtablecell">
                <input type="text" name="articles[<?php echo $id; ?>][name]" value="<?php echo $article["name"];?>">
            </div>
            <div class="divtablecell">
                <input type="text" name="articles[<?php echo $id; ?>][tax]" value="<?php echo $article["tax"];?>">
            </div>
            <div class="divtablecell">
                <input type="text" name="articles[<?php echo $id; ?>][price]" value="<?php echo $article["price"];?>">
            </div>
            <div class="divtablecell">
                <input type="number" name="articles[<?php echo $id; ?>][amount]" value="<?php echo $article["amount"];?>">
            </div>
        </div>
       <?php } //   echo "<pre>"; var_dump($post); echo "</pre>";
            if(isset($post["addrow"]) or count($post["articles"])==0){
           $newid=count($post["articles"]);
           ?>
        <div class="divtablerow">
            <div class="divtablecell">
                <input type="text" name="articles[<?php echo $newid; ?>][name]">
            </div>
            <div class="divtablecell">
                <input type="text" name="articles[<?php echo $newid; ?>][tax]" value="19">
            </div>
            <div class="divtablecell">
                <input type="text" name="articles[<?php echo $newid; ?>][price]" value="1.00">
            </div>
            <div class="divtablecell">
                <input type="number" name="articles[<?php echo $newid; ?>][amount]" value="1">
            </div>
        </div>
       <?php }?>
    </div>
  <?php echo $this->formRow($form->get('addrow')); ?>  
  <?php echo $this->formRow($form->get('submit')); ?>  
<?php
    echo $this->form()->closeTag();
?>