<?php 
    $title = 'Eintrag in das Kassenbuch'; 
    $this->headTitle($title);
?>
<div id="cash_register">
    <div id="receipt">
        <div id="positions_wrapper">
            <div id="positions" class="table">
                <div>
                    <div>Posten</div>
                    <div>Bezeichung</div>
                    <div>Menge</div>
                    <div>Preis</div>
                    <div>Steuer</div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                    <div>Summe</div>
                    <div>00,00 €</div>
                </div>
            </div>
        </div>
        <button onclick="kasse.clear();">stornieren</button>
        <button onclick="kasse.book();">buchen</button>
    </div>
    <div id="catalog">
        <div id="articles">
            <section id="categorie1">
                <h2><a href="#categorie1">Getränke</a></h2>
                <div>
                    Artikel hier
                </div>
            </section>
            <section id="categorie2">
                <h2><a href="#categorie2">Snacks</a></h2>
                <div>
                    Artikel hier
                </div>
            </section>
            <section id="categorie3">
                <h2><a href="#categorie3">Bekleidung</a></h2>
                <div>
                    Artikel hier
                </div>
            </section>
            <section id="categorie4">
                <h2><a href="#categorie4">Sonstiges</a></h2>
                <div>
                    Artikel hier
                </div>
            </section>
        </div>
        <div id="amount_select">
            <div>-</div>
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>+</div>
            <div>1</div>
        </div>
        <div id="article_controll">
            <button>Entfernen</button>
            <button>Hinzufügen</button>
        </div>
    </div>
</div>