    <?php
    $timestamp = time();
    $day = date("d.m.Y", $timestamp); 
    $this->title="Kassenbuch vom " . $day;
    $this->head=$this->title;
    $this->headtitle($this->title);
    ?>

    <div id="book_button">
        <a href="<?php echo $this->url('cashbook', array('action'=>'day'));?>"><img src="<?php echo $this->basePath('img/day.png') ?>"></a>
        <a href="<?php echo $this->url('cashbook', array('action'=>'month'));?>"><img src="<?php echo $this->basePath('img/month.png') ?>"></a>
        <a href="<?php echo $this->url('cashbook', array('action'=>'index'));?>"><img src="<?php echo $this->basePath('img/year.png') ?>"></a>
    </div>
    <br>
    <div id="bon_button">
        <a href="<?php echo $this->url('cashbook', array('action'=>'print'));?>"><img src="<?php echo $this->basePath('img/printbon.png') ?>"></a>
    </div>
    <br>
    
    <?php if (isset($cashbooks)): ?>
        <div class="divtable">
            <div class="divtablerow divtablehead">
                <?php foreach($search["tableHead"] as $key => $value): ?> 
                <div class="divtablecell">
                   <a href="javascript: sortBy('<?php echo $key ?>')" class="<?php echo $value[1] ?>" id="<?php echo $key ?>"><?php echo $value[0] ?></a>
                </div>
                <?php endforeach; ?>
            </div>
            <?php foreach($cashbooks as $cashbook): ?>
                <?php foreach($cashbook->getPositions() as $number =>$object):?>
                <div class="divtablerow">
                    <div class="divtablecell left"><?php echo $cashbook->getCashbook_nr()."-".($number+1);?></div>
                    <div class="divtablecell"></div>
                    <div class="divtablecell"></div>
                    <div class="divtablecell left"><?php echo $object->getAmount()."x ".$object->getName();?></div>
                    <div class="divtablecell right"><?php echo $object->printPrice();?></div>
                    <div class="divtablecell right"><?php echo $cashbook->printTax(); ?></div>
                </div>
                <?php endforeach; ?>
                <div class="divtablerow">
                    <div class="divtablecell left"><?php echo $cashbook->getCashbook_nr(); ?></div>
                    <div class="divtablecell"><?php echo $cashbook->getCashbook_Time()!=''?$cashbook->getCashbook_Time()->format('d.m.Y'): ''; ?> </div>
                    <dif class="divtablecell left"><?php 
                            switch ($cashbook->getCashbook_Status()) {
                                case '+':echo "Einnahme";
                                    break;
                                case '-':echo "Ausgabe";
                                    break;
                            }
                            ; ?></dif>
                    <div class="divtablecell right"></div>
                    <div class="divtablecell right"><?php echo $cashbook->printPrice(); ?></div>
                    <div class="divtablecell right"></div>
                </div>              
            <?php endforeach; ?>
        </div>
        <br>
        <h4>Summen</h4>
        <div class="divtable">
            <div class="divtablerow divtablehead">
                <div class="divtablecell right">Summe Einnahmen: </div>
                <div class="divtablecell right"><?php echo number_format((float) $balances["day_plus"], 2, ",", ".")." €";?></div>
            </div>
            <div class="divtablerow divtablehead">
                <div class="divtablecell right">Summe Ausgaben: </div>
                <div class="divtablecell right"><?php echo number_format((float) $balances["day_minus"], 2, ",", ".")." €";?></div>
            </div>
            <div class="divtablerow divtablehead">
                <div class="divtablecell right">Kassenstand: </div>
                <div class="divtablecell right"><?php echo number_format((float) $balances["day_all"], 2, ",", ".")." €";?></div>
            </div>
        </div>
    <?php endif; ?>