<?php
    $title = 'Kassenbucheintrag löschen';
    $this->headTitle($title);
?>
    <h1><?php echo $this->escapeHtml($title); ?></h1> 
    <h3>Willst Du den Eintrag <?php echo $cashbook->getCashbook_Text() . ' vom ' . $cashbook->getCashbook_Time() . ' über' . $cashbook->getCashbook_Money(); ?>  wirklich l&ouml;schen?</h3><br/>
    
    <form method="POST" action="<?php echo $this->url('cashbook', array("action"=>"delete", "cashbook_id"=>$cashbook->getCashbook_id())) ?>">
        <input type="hidden" value="<?php echo $cashbook->getCashbook_id(); ?>">
        <input type="submit" value="löschen">
    </form>    