    <?php
    $this->title="Kassenbon";
    $this->head=$this->title;
    $this->headtitle($this->title);
    $balance=0;
    ?>

    <?php if (isset($cashbooks)): ?>
        <div class="divtable">
            <div class="divtablerow divtablehead">
            <?php foreach($search["tableHead"] as $key => $value): ?> 
                <div class="divtablecell">
                   <a href="javascript: sortBy('<?php echo $key ?>')" class="<?php echo $value[1] ?>" id="<?php echo $key ?>"><?php echo $value[0] ?></a>
                </div>
                <?php endforeach; ?>
            </div>
            <?php foreach($cashbooks as $cashbook): ?>
                <?php foreach($cashbook->getPositions() as $number =>$object):?>
                <div class="divtablerow">
                    <div class="divtablecell left"><?php echo $cashbook->getCashbook_nr()."-".($number+1);?></div>
                    <div class="divtablecell"></div>
                    <div class="divtablecell left"><?php echo $object->getName();?></div>
                    <div class="divtablecell center"><?php echo $object->getAmount();?></div>
                    <div class="divtablecell center"><?php echo $object->printPrice();?></div>
                    <div class="divtablecell"></div>
                </div>
                <?php endforeach; ?>
                <div class="divtablerow">
                    <div class="divtablecell left"><?php echo $cashbook->getCashbook_nr(); ?></div>
                    <div class="divtablecell"><?php echo $cashbook->getCashbook_Time()!=''?$cashbook->getCashbook_Time()->format('d.m.Y'): ''; ?> </div>
                    <dif class="divtablecell center"></dif>
                    <div class="divtablecell"></div>
                    <dif class="divtablecell right"><?php echo $cashbook->printValue(); $balance+=$cashbook->getCashbook_Value(); ?></dif>
                    <div class="divtablecell right"><?php echo $cashbook->printTax(); ?></div>
                </div>            
            <?php endforeach; ?>
            <div class="divtablerow">
                <div class="divtablecell"></div>
                <div class="divtablecell"></div>
                <div class="divtablecell right">Summe:</div>
                <div class="divtablecell"></div>
                <div class="divtablecell center"><?php echo number_format((float) $balance, 2, ",", ".")." €";?></div>
                <div class="divtablecell"></div>
            </div>
        </div>
    <?php endif; ?>