<?php
$title = 'Kurstermin festlegen';
$this->headTitle($title);
?>
<div class="wrapper_content">
<?php
    $form = $this->form;
    $form->setAttribute('action', $this->url('plan', array('action' => 'add')));
    
    echo $this->form()->openTag($form); ?>
      <table class="new">
        <tr>
            <td><?php echo $this->formRow($form->get('course_id')); ?>   
                <?php echo $this->formRow($form->get('course_startdate')); ?>                
                <?php echo $this->formRow($form->get('course_enddate')); ?>
                <?php echo $this->formRow($form->get('time_id')); ?>
            </td>
        </tr>  
    </table>
  <?php echo $this->formRow($form->get('submit')); ?>  
<?php
    echo $this->form()->closeTag();
?>
