<?php
$title = 'Planeintrag löschen';
$this->headTitle($title);
?>
<div class="wrapper_content">
<h1><?php echo $this->escapeHtml($title); ?></h1>

<h3>Willst du wirklich diesen Planeintrag wirklich löschen?</h3><br/>
    <form method="POST" action="<?php echo $this->url('plan', array("action"=>"delete", "day_id"=>$day->getDay_id())) ?>">
        <input type="hidden" value="<?php echo $day->getDay_id(); ?>">
        <input type="submit" value="löschen">
    </form> 

