<?php
    $this->title="Kursplan";
    $this->head=$this->title;
    $this->headtitle($this->title);
    if (isset($plans)): ?>    
            <div class="divtable timetable">
                <div class="divtablehead">
                    <div class="divtablerow">
                        <div class="divtablecell">Zeit</div>
                        <div class="divtablecell">Montag</div>
                        <div class="divtablecell">Dienstag</div>
                        <div class="divtablecell">Mittwoch</div>
                        <div class="divtablecell">Donnerstag</div>
                        <div class="divtablecell">Freitag</div>
                        <div class="divtablecell">Sonnabend</div>
                        <div class="divtablecell">Sonntag</div>
                    </div>
                </div>
                <div class="divtablebody">
                    <?php
                    //Wochentage Vorbereiten
                    $date = new DateTime('last sunday');
                    $interval = DateInterval::createFromDateString('+1 day');
                    $period = new DatePeriod($date, $interval, 7, DatePeriod::EXCLUDE_START_DATE);
                    ?>
                    <div class="divtablerow">
                        <div class="divtablecell">
                            <?php
                            foreach($times as $time){                           //Uhrzeiten Ausgeben                                
                                echo "<p>
                                    ".$time->getBegin()->format("H:i")." bis<br>
                                    ".$time->getEnd()->format("H:i")." Uhr 
                                    </p>";
                            }
                            ?>
                        </div>  
                        
                    <?php foreach ($period as $date){
                        echo "<div class=\"divtablecell\">\n";
                            foreach($times as $time){
                            $timematch = false;
                                foreach($plans as $plan){
                                $plan=$plan[0];
                                    if($plan->getCourse_Date()==$date){
                                        if($time==$plan->getTime_id()){
                                        $timematch=true;
                                            echo "<p>".
                                            $plan->getCourse_id()->getCourse_Name()."<br>".
                                            "Teilnehmer: ".$plan->getCourse_id()->getCourse_Quantity()."<br>
                                            </p>";
                                        }
                                    }
                                }
                            //Kein Kurs gefunden
                            if(!$timematch){
                                    echo "<p>
                                        <br>
                                        <br>
                                        </p>";
                            }
                        }
                        echo "</div>\n";
                    }
                    ?>
                    </div>
                </div>
            </div>    
    <?php endif; ?>
