<?php
$title = 'Eintrag in Lagerbestand';
?>
<h3><?php echo $this->escapeHtml($title); ?></h3>
<?php
    $form = $this->form;
    $form->setAttribute('action', $this->url('article', array('action' => 'add')));    
    
    echo $this->form()->openTag($form); ?>
      <div class="divtable new">
        <div class="divtablecol">
            <div class="divtablecell">
                <?php echo $this->formRow($form->get('article_name')); ?>  
                <?php echo $this->formRow($form->get('article_group')); ?>
                <?php echo $this->formRow($form->get('article_price')); ?>
                <?php echo $this->formRow($form->get('article_tax')); ?>
                <?php echo $this->formRow($form->get('article_amount')); ?>
            </div>
        </div>
    </div>
  <?php echo $this->formRow($form->get('submit')); ?>  
<?php
    echo $this->form()->closeTag();
?>