<?php

$title = 'Artikel löschen';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1> 
    <h3>Willst Du den Artikel <?php echo $article->getArticle_Name(); ?>  wirklich l&ouml;schen?</h3><br/>
    
    <form method="POST" action="<?php echo $this->url('article', array("action"=>"delete", "article_id"=>$article->getArticle_id())) ?>">
        <input type="hidden" value="<?php echo $article->getArticle_id(); ?>">
        <input type="submit" value="löschen">
    </form>    