<?php
    $this->title="Artikel bearbeiten";
    $this->head=$this->title;
    $this->headtitle($this->title);

    $form = $this->form;
    $form->setAttribute('action', $this->url(
        'article',
        array(
            'action' => 'edit',
            'article_id' => $this->article_id,
        )
    ));
    $form->prepare();
    echo $this->form()->openTag($form); ?>
    <div class="divtable">  
        <div class="divtablecol">
            <div class="divtablecell">   
                <?php echo $this->formRow($form->get('article_name')); ?>  
                <?php echo $this->formRow($form->get('article_group')); ?>
                <?php echo $this->formRow($form->get('article_price')) . " €"; ?>
                <?php echo $this->formRow($form->get('article_tax')); ?>
                <?php echo $this->formRow($form->get('article_amount')); ?>
            </div>
        </div>
    </div>    
    <div align="center"><?php echo $this->formRow($form->get('submit')); ?></div>
<?php
   
    echo $this->form()->closeTag();