    <?php
    $this->title="Artikel";
    $this->head=$this->title;
    $this->headtitle($this->title);
    ?>

    <div align="center"><a href="<?php echo $this->url('article', array('action'=>'add'));?>"><img width="28" src="<?php echo $this->basePath('img/Contacts.png ') ?>" alt="Artikel eintragen"> neuen Artikel erfassen</a></div>
    <?php if (isset($articles)) : ?>
        <div class="divtable">
            <div class="divtablerow divtablehead">
                <?php foreach($search["tableHead"] as $key => $value): ?> 
                <div class="divtablecell">
                    <a href="javascript: sortBy('<?php echo $key ?>')" class="<?php echo $value[1] ?>" id="<?php echo $key ?>"><?php echo $value[0] ?></a>
                </div>
                <?php endforeach; ?>                    
                <div class="divtablecell"></div>
            </div>
                <?php foreach($articles as $article): ?>
            <div class="divtablerow">
                <div class="divtablecell"><?php echo $article->getArticle_Name(); ?></div>
                <div class="divtablecell"><?php 
                                switch ($article->getArticle_Group()){
                                case 0: echo ' Getränke';       break;
                                case 1: echo ' Riegel';         break;
                                case 2: echo ' Kleidung';       break;
                                case 3: echo ' Accessoires';    break;
                                case 4: echo ' Sonstige';       break;
                            } ; 
                            ?></div>
                <div class="divtablecell" align="right"><?php echo $article->printPrice(); ?> </div>
                <div class="divtablecell" align="right"><?php echo $article->printTax();?></div>
                <div class="divtablecell" align="right"><?php echo $article->getArticle_Amount(); ?></div>
                <div class="divtablecell" align="center">
                    <nobr>
                        <a href="<?php echo $this->url('article', array('action'=>'edit', 'article_id' => $article->getArticle_id()));?>"><img src="<?php echo $this->basePath('img/edit.png') ?>" alt="Ändern"/></a> ||
                        <a href="<?php echo $this->url('article', array('action'=>'delete', 'article_id' => $article->getArticle_id()));?>"><img src="<?php echo $this->basePath('img/delete.png') ?>" alt="Löschen"/></a>
                    </nobr>
                </div>
            </div>
            <?php endforeach; ?>
        </div>
    <?php endif; ?>
