<?php
    $this->title="Katalog";
    $this->head=$this->title;
    $this->headtitle($this->title);
?>
    
    <?php if (isset($cashbooks)) : ?>
        <div class="member divtable" id="table_members">
            <div class="divtablerow divtablehead">
                <?php foreach($search["tableHead"] as $key => $value): ?> 
                <div class="divtablecell">
                    <a class="<?php echo $value[1] ?>" id="<?php echo $key ?>"><?php echo $value[0] ?></a>
                </div>
                <?php endforeach; ?>
            </div>
                <?php foreach($cashbooks as $cashbook): ?>
            <div class="divtablerow table_member" id="table_memberarea_<?php echo $cashbook->getCashbook_id(); ?>">
                <div class="divtablecell" align="center"><?php echo $cashbook->getCashbook_nr(); ?></div>
                <div class="divtablecell"><?php echo $cashbook->getCashbook_Time()!=''?$cashbook->getCashbook_Time()->format('d.m.Y'): ''; ?> </div>
                <div class="divtablecell"><?php echo $cashbook->getCashbook_Text(); ?> </div>
                <div class="divtablecell" align="right"><?php if($cashbook->getCashbook_Money()=='')
                                                                echo '';                 
                                                                elseif ($cashbook->getCashbook_Status()=='+') 
                                                                    echo number_format((float) $cashbook->getCashbook_Money(), (int)$decimals = 2, (string)$dec_point = ",", (string)$thousands_sep = ".")." €"; ?> </div>
                <div class="divtablecell" align="right"><?php if($cashbook->getCashbook_Money()=='')
                                                                echo '';                 
                                                                elseif ($cashbook->getCashbook_Status()=='-') 
                                                                    echo number_format((float) $cashbook->getCashbook_Money(), (int)$decimals = 2, (string)$dec_point = ",", (string)$thousands_sep = ".")." €"; ?> </div>
                <div class="divtablecell" align="right"><?php 
                        switch ($cashbook->getCashbook_Tax()){
                            case 0: echo ' 7%';break;
                            case 1: echo '19%';break;
                        }
                        ; ?>
                </div>
            </div>
            <?php endforeach; ?>
        </div>
<?php endif; ?>