    <?php
    $this->title="Suche";
    $this->head=$this->title;
    $this->headtitle($this->title);
    
    $form = $this->form;
    $form->setAttribute('action', $this->url(
        'search',
        array(
            'action' => 'search',
        )
    ));
    $form->prepare();

    echo $this->form()->openTag($form); 
?>
    <div class="divtable">
        <div class="divtablecol">
            <div class="divtablecell">
                <?php echo $this->formRow($form->get('mitgl_nr')); ?>   
                <?php echo $this->formRow($form->get('name')); ?>  
                <?php echo $this->formRow($form->get('forename')); ?>
                <?php echo $this->formRow($form->get('gender')); ?>
                <?php echo $this->formRow($form->get('active')); ?>
                <?php echo $this->formRow($form->get('born')); ?>
                <?php echo $this->formRow($form->get('street')); ?>
                <?php echo $this->formRow($form->get('zipCode')); ?>
                <?php echo $this->formRow($form->get('city')); ?>
                <?php echo $this->formRow($form->get('telephone')); ?>
                <?php echo $this->formRow($form->get('mobilNr')); ?>    
                <?php echo $this->formRow($form->get('faxNr')); ?>    
                <?php echo $this->formRow($form->get('email')); ?>
            </div>
        </div>
        <div class="divtablecol">
            <div class="divtablecell">
                <?php echo $this->formRow($form->get('company')); ?>
                <?php echo $this->formRow($form->get('profession')); ?>
                <?php echo $this->formRow($form->get('contract')); ?> 
                <?php echo $this->formRow($form->get('runtime')); ?>
                <?php echo $this->formRow($form->get('entry')); ?> 
                <?php echo $this->formRow($form->get('sauna_week')); ?>
                <?php echo $this->formRow($form->get('solarabo')); ?>
                <?php echo $this->formRow($form->get('start')); ?>
                <?php echo $this->formRow($form->get('kontoInh')); ?>
                <?php echo $this->formRow($form->get('kontoNr')); ?>
                <?php echo $this->formRow($form->get('iban')); ?> 
                <?php echo $this->formRow($form->get('zahlweise')); ?>
                <?php echo $this->formRow($form->get('origin')); ?>
                <?php echo $this->formRow($form->get('remark')); ?>
            </div>            
        </div>
    </div>  
<?php echo $this->formRow($form->get('submit')); ?>
<?php echo $this->form()->closeTag(); ?>