    <?php
    $this->title="Suchergebnis Stammdaten der Clubmitglieder";
    $this->head=$this->title;
    $this->headtitle($this->title);
    if (isset($members)) : ?>
        <div class="memberinfopopup" id="memberinfopopup"></div>
        <div class="member divtable" onmouseover="showmember(event)" onmouseout="hidemember()">
            <div class="divtablerow divtablehead">
                <?php foreach($tableHead as $key => $value): ?> 
                <div class="divtablecell">
                    <a href="" id="<?php echo $key ?>"><?php echo $value[0] ?></a>
                </div>
                <?php endforeach; ?>                    
                <div class="divtablecell">&nbsp;</div>
            </div>
            <?php foreach($members as $member): ?>
            <div class="divtablerow table_member" id="table_memberarea_<?php echo $member->getMember_id(); ?>">
                <div class="divtablecell" align="center"><?php echo $member->getMitgl_nr(); ?></div>
                <div class="divtablecell"><?php echo $member->getName(); ?> </div> 
                <div class="divtablecell"><?php echo $member->getForename(); ?> </div>
                <div class="divtablecell"><?php echo $member->getBorn()!=''?$member->getBorn()->format('d.m.Y'): ''; ?> </div>
                <div class="divtablecell"><?php echo $member->getCity(); ?></div>
                <div class="divtablecell"><?php echo $member->getEntry()!=''?$member->getEntry()->format('d.m.Y'): ''; ?></div>
                <div class="divtablecell" align="left"><?php 
                        switch ($member->getContract()){
                            case 1: echo ' ';break;
                            case 2: echo 'Sparabo';break;
                            case 3: echo 'Tageskarte';break;
                            case 4: echo 'Zehnerkarte';break;
                            case 5: echo 'Gold';break;
                            case 6: echo 'Platin';break;
                            case 7: echo 'Möbius';break;
                            case 8: echo 'Richter';break;
                            case 9: echo 'P+S';break;
                            case 10: echo 'Reha';break;
                            case 11: echo 'Partner';break;
                            case 12: echo 'Schüler';break;
                            case 13: echo 'Go/Akt.';break;
                            case 14: echo 'Pla/Akt.';break;
                        }
                        echo " ";
                        switch ($member->getRuntime()){
                            case 1: echo ' ';break;
                            case 2: echo '6';break;
                            case 3: echo '12';break;
                            case 4: echo '12e';break;
                            case 5: echo '18';break;
                            case 6: echo '24';break;
                            case 7: echo '6+1';break;
                            case 8: echo '6+2';break;
                            case 9: echo '12+1';break;
                            case 10: echo '12+2';break;
                            case 11: echo '24+1';break;
                            case 12: echo '24+2';break;
                            case 13: echo 'VÜ';break;
                        }
                        ; ?>
                </div>                    
                <div class="divtablecell" align="center">
                    <nobr>
                        <a href="<?php echo $this->url('member', array('action'=>'edit', 'member_id' => $member->getMember_id()));?>"><img src="<?php echo $this->basePath('img/edit.png') ?>" alt="Ändern"/></a> |
                        <a href="<?php echo $this->url('member', array('action'=>'delete', 'member_id' => $member->getMember_id()));?>"><img src="<?php echo $this->basePath('img/delete.png') ?>" alt="Löschen"/></a>
                    </nobr>
                </div>
            </div>
            <?php endforeach; ?>
        </div>
    <?php 
    $form = $this->form;
    $form->setAttribute('action', $this->url('search',array('action' => 'export')));
    $form->prepare(); ?>
    <?php echo $this->form()->openTag($form); ?>
    <?php echo $this->formRow($form->get('mitgl_nr')); ?>   
    <?php echo $this->formRow($form->get('name')); ?>  
    <?php echo $this->formRow($form->get('forename')); ?>
    <?php echo $this->formRow($form->get('gender')); ?>
    <?php echo $this->formRow($form->get('active')); ?>
    <?php echo $this->formRow($form->get('born')); ?>
    <?php echo $this->formRow($form->get('street')); ?>
    <?php echo $this->formRow($form->get('zipCode')); ?>
    <?php echo $this->formRow($form->get('city')); ?>
    <?php echo $this->formRow($form->get('telephone')); ?>
    <?php echo $this->formRow($form->get('mobilNr')); ?>    
    <?php echo $this->formRow($form->get('faxNr')); ?>    
    <?php echo $this->formRow($form->get('email')); ?>
    <?php echo $this->formRow($form->get('company')); ?>
    <?php echo $this->formRow($form->get('profession')); ?>
    <?php echo $this->formRow($form->get('contract')); ?> 
    <?php echo $this->formRow($form->get('runtime')); ?>
    <?php echo $this->formRow($form->get('entry')); ?> 
    <?php echo $this->formRow($form->get('sauna_week')); ?>
    <?php echo $this->formRow($form->get('solarabo')); ?>
    <?php echo $this->formRow($form->get('start')); ?>
    <?php echo $this->formRow($form->get('kontoInh')); ?>
    <?php echo $this->formRow($form->get('kontoNr')); ?>
    <?php echo $this->formRow($form->get('iban')); ?> 
    <?php echo $this->formRow($form->get('zahlweise')); ?>
    <?php echo $this->formRow($form->get('submit')); ?>
    <?php echo $this->form()->closeTag();
    endif; ?>
